.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(62,166,70, 0.97);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}

.Toolbar nav {
  height: 100%;
}

.Logo {
  height: 80%;
}

.logoContainer {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.Brand {
    font-size: 1.2rem;
    color: white;
}

@media (max-width: 767px) {
  .DesktopOnly {
    display: none;
  }
  .Brand {
    display: none;
  }
}

@media (min-width: 1000px) {
  .Brand {
    font-size: 2rem;
  }
}