.cardWrapper {
  margin-top: 80px;
  box-sizing: border-box;
  display: flex;
  margin: auto;
  width: 95vw;
  flex-flow: row wrap;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgb(148,189,61);
  flex-grow: 1;
  height: 100px;
  color: white;
  width: 100vw;
  box-shadow: 1px 1px 2px #ddd;
  margin: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}

.card:hover {
  border: 1px solid rgba(200, 200, 200, 0.9);
}

@media (min-width: 768px) {
  .card {
    width: 45vw;
  }
}