.mainWrapper {
  text-align: center;
  position: relative;
}
.fixedMenu {
  border-bottom: 1px solid #eee;
  background-color: rgb(148,189,61);
  color: white;
  position: fixed;
  display: flex;
  align-items: center;
  top: 56px;
  height: 58px;
  width: 100vw;
  box-sizing: border-box;
  z-index: 10;
}

.pane {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 0px 5px;
  height: 100%;
}

.pane:hover {
  background-color: rgb(142, 182, 54);
}

.paneCurrent {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0px 5px;
  background-color: rgb(142, 182, 54);
  border-bottom: 4px solid rgb(73,168,81);
}

.pane span, .paneCurrent span {
  font-size: 1.1rem;
}

.leftPane:hover, .rightPane:hover {
  border-bottom: 1px solid rgb(73,168,81);
}

.contentWrapper {
  padding-top: 40px;
}

@media (min-width: 768px) {
  .pane {
    margin: 0px 20px;
  }

  .paneCurrent {
    margin: 0px 20px;
  }
}